*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.full-div{
    border: 5px solid #b12626;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(173, 161, 161, 0.1);
    padding: 20px;
    background-color: #fff;
    /* width: 33%; */
}
h2{
    text-align: center;
    margin-bottom: 5px;
}
.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 500px;
    margin-top: 10px;
}
.button-container button {
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#inputbox{
    width: 500px;
    height: 40px;
    font-size: 35px;
    text-align: right;
    box-sizing: border-box;
    border: 2px solid black;
}
.btn1:hover {
    background-color: #e0e0e0;
}
.btn1.operator {
    background-color: #f0ad4e;
    color: white;
}
.btn1.operator:hover {
    background-color: #f69104;
}

@media screen and (max-width:600px) {
    .button-container{
        width: 250px;
    }
    #inputbox{
        width: 250px;
    }
}